*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    padding: 100px;
}
h1{
    color: brown;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px gray;
    
}
#transaction-area{
    display: none;
}
.deposit{
    background-color: rgb(9, 89, 109);
}
.withdraw{
    background-color: rgb(189, 87, 46);
}
.balance{
    background-color: rgb(5, 102, 5);
}
.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
.back{
background-image: url(./img/144565.jpg);
padding: 100px 100px;
}

.back2{
    background-image: url(./img/680401.jpg);
    
}